@import '../../../app/globalStyles/basestyles.scss';

.list{
    height: 30vh;
    overflow: auto;

    @include for-size(desktop){
        height: 30rem;
    }
}

.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    gap:12px;

    color: $primary-bg-color;
    cursor: pointer;

    transition: color $cubic;

    @include for-size(desktop){
        color: $primary-text-color;
    }

    &.disabled{
        opacity: 0.3;
        cursor:default;
    }

    &:hover{
        color: $accent-text-color;
    }
}

.color{
    display: block;
    border: 1px solid $primary-bg-color;
    border-radius: 20px;
    width: 18px;
    height: 18px;

    @include for-size(desktop){
        border: 1px solid $primary-text-color;
    }
}

.icon{
    display: block;
    border-radius: 20px;
    width: 18px;
    height: 18px;
}

.title{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
&::first-letter{
    text-transform: capitalize;
};

}