@import '../../../app/globalStyles/basestyles.scss';



.list{
display: flex;
justify-content: flex-start;
flex-direction: column;

font-weight: 400;
font-size: 16px;
line-height: 1.5;
}



.link{
    display: block;
    padding: 8px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    color: $primary-bg-color;
    transition: all $cubic;
    &:hover{
        text-decoration: underline;
    }
    @include for-size(desktop){
        color: $primary-text-color;
    }

    &::first-letter{
        text-transform: capitalize;
    };

    &.disabled{
        opacity: 0.3;
        cursor:default;
    }

}