@import '../../../app/globalStyles/basestyles.scss';



.list{
display: flex;
justify-content: flex-start;
flex-direction: column;

font-weight: 400;
font-size: 16px;
line-height: 1.5;
}



.link{
    display: block;
    padding: 8px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-transform: capitalize;
    cursor: pointer;
    color: $primary-text-color;

}