@import '../../../app/globalStyles/basestyles.scss';



.container{
   width: 100%;
    font-family: $primary-font;
    border-top: 1px solid $accent-text-color;
  & > hr{
    display: none;
  }

  @include for-size(desktop){
    width: 65%;
  }
   
};

.base{
  
    border: none;
    outline: none;
    border-bottom: 1px solid $accent-text-color;
   

};

.title{
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: $primary-text-color;
    
};

.trigger{
    display: flex;
    width: 100%;
    appearance: none;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:focus{
        border: none;
        box-shadow: none;
        outline: none;
    }

};

.icon{
    fill: $primary-text-color;
    width: 32px;
    height: 32px;
    transform: rotate(90deg);
    transition: all $cubic;

    &.open{
        transform: rotate(0deg);
    }
}



.content{
    padding: 0 20px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    padding: 20px 0;
};