@import '../../../app/globalStyles/basestyles.scss';


.button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
    border: 1px solid $accent-text-color;
    border-radius: 40px;
    padding: 0.5rem 1rem;

    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    color:$secondary-text-color;
    background: $bglightblue;
    cursor: pointer;

    &:hover,
    &:focus{

    & .icon{
       scale: 1.1;
    }
    }
};


.icon{
fill: $accent-text-color;
transition: scale $cubic;
}