@import '../../../app/globalStyles/basestyles.scss';


.container{
    
    position: relative;
    margin-bottom: 52px;
    width: 100%;
    height: 71px;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform: rotateX(0deg);
    transition: transform 0.6s;

    &.open{
        transform: rotateX(180deg);
    }

    @include for-size(tablet){
        margin-bottom: 0;
    }
}


.title_btn{

    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;

    border: 1px solid $accent-text-color;
    border-radius: 3rem;
    padding: 18.5px 12px;
    background-color: $primary-text-color;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: $accent-text-color;
    cursor: pointer;

    @include for-size(tablet){
        padding: 18.5px 24px;
    }
}

.input_wrapper{

    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    top: 0;
    right: 0;
    transform: rotateX(180deg);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    border: 1px solid $accent-text-color;
    border-radius: 3rem;
    padding: 12px 12px;
    background-color: $primary-text-color;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: $accent-text-color;

    @include for-size(tablet){
        padding: 12px 24px;
    }
    
}

.input{
    width: 100%;
    overflow: hidden;
    outline: none;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: $accent-text-color;

    @include for-size(tablet){
        width: calc(100% - 6.5rem);
    }
}

.btn{
    position:fixed;
    bottom:-100%;
    left: 52px;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    transition: transform $cubic;

    &.check{
        left: 0;
        border-radius: 50%;
        background-color: $accent-text-color;
    }

    &:hover{
        transform: scale(1.1);
    }

    @include for-size(tablet){
        position: static;
    }
   
}

.icon{
    width: 40px;
    height: 40px;
    &.check{
        width: auto;
        height: auto;
        fill: $primary-text-color;
    }
};

