@import '../../../app/globalStyles/basestyles.scss';

.container{
padding: 60px 0;
    @include for-size(tablet){
        padding: 75px 0;
    }
   
};

.article{
   
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 8px 64px 0 rgba(224, 204, 27, 0.12), 0 4px 16px 0 rgba(224, 204, 27, 0.08);
    background: $primary-bg-color;
    overflow: hidden;

    @include for-size(desktop){
        display: grid;
        grid-template-columns: 50% 50%;
    }
};


.text_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.25rem 1.25rem 2.5rem 1.25rem;
    margin-right: 12px;
    gap: 24px;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
   

    @include for-size(tablet){
        padding: 3rem;
    }

};

.title{
font-weight: 700;
font-size: 2rem;
line-height: 1.2;

@include for-size(tablet){
    font-size: 2.5rem
}
};

.description{
    display: block;
    @include for-size(desktop){
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    

    &>span{
        display: block;
    }
};

.slider{
    max-width: 100%;
}