
@import '../../../app/globalStyles/basestyles.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.title_label{
	display: flex;
	align-items: center;
	gap: 2rem;

	font-size: 1.5rem;
	font-weight: 600;
	color: white;
}

.title_input{
	outline: none;
	border: 1px solid $accent-text-color;
	border-radius: 3rem;
	padding: 12px;

	&:-webkit-autofill,
	&:-webkit-autofill:hover, 
	&:-webkit-autofill:focus {
	  -webkit-text-fill-color: $primary-bg-color !important;
	  -webkit-box-shadow: 0 0 0px 40rem #fbfdff inset !important;
	 
	}
}


.wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
    color: black !important;
	width: 100%;
	margin-top: 3rem;
}
.main_container {
	font-family: 'Lato';
	width:100%;
	margin-left: auto;
	margin-right: auto;
    color: black !important;
}

.ck_content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
    color: black !important;
}

.editor_container_classic_editor .editor_container__editor {
	min-width: 795px;
	
    color: black !important;
}