@import '../../../app/globalStyles/basestyles.scss';

.ammount_btn_box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    background-color: $bglightblue;
    width: max-content;

    & >input{
        display: flex;
        border: none;
        outline: none;
        
       width: 50px;
       height: 50px;
        background-color: $accent-text-color;
        color: $primary-text-color;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
        

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
    }
   
};

.ammount_button{
    outline: none;
    width: 50px;
    height: 50px;
    background-color: $accent-text-color;
    border: none;
    color: $primary-text-color;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5;
   
    cursor: pointer;
    transition: transform $cubic;

    &:active{
        transform: scale(0.96);
    }

   
    
}

.decrement_btn{
   border-radius: 2rem 0 0 2rem;
   &:hover{
    border-right: 0.7px solid $bglightblue;
   }
};

.increment_btn{
    border-radius: 0 2rem 2rem 0;
    &:hover{
        border-left: 0.7px solid $bglightblue;
       }
 }
