@import '../../../app/globalStyles/basestyles.scss';

.root_header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    @include for-size(tablet){
        position: static;
    }
}


.header{
    display: flex;
    position: relative;
    margin-top:1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
    border-radius: 0.5rem;
    box-shadow: 0 32px 64px -12px rgba(0, 0, 0, 0.14);
    background: $bglightblue;

    @include for-size(tablet){
        border-radius: 1rem;
        margin-top:1.5rem;
    };

};

.nav_box{
    display: flex;
    flex-direction: row;
    gap: 8px;
    @include for-size(tablet){
        gap: 24px;
    };

    @include for-size(desktop){
        gap: 48px;
    }
   
}





.list{
display: flex;
justify-content: space-evenly;
align-items: center;
gap: 2rem;
padding: 12px;




};

.link{
display: flex;
align-items: center;
flex-direction: column;
gap: 0.5rem;
};

.icon{
    fill: $accent-text-color;
    width: 2rem;
    height: 2rem;
    @include for-size(tablet){
    width: 3rem;
    height: 3rem;}
    
};

.tablet_wrapper{
    display: none;
    @include for-size(tablet){
        display: block;
    }
};

.except_desktop_wrapper{
    display: flex;
    @include for-size(desktop){
        display: none;
    }
};

.desktop_wrapper{
    display: none;
    @include for-size(desktop){
        display: flex;
    }
}