@import '../../../app/globalStyles/basestyles.scss';

.modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    background: rgba(32, 46, 56, 0.3);
    z-index: 1000;
  }
  
  .modal_content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-text-color;
    padding: 40px 20px;
    border-radius: 2rem;
    max-width: 90%;}
    
  .modal_btn {
      position: absolute;
      top:1rem;
      right:1rem;
      padding: 1rem;
      background-color: transparent;
      border: none;
      cursor: pointer;
      z-index: 100;
      transition: scale 250ms linear;
     
  }
  
  .modal_btn:hover{
          scale: 1.1;
      }
  
  .hide_modal_btn_icon{
  
      width:15px;
      height: 15px;
      fill: rgb(255, 253, 253);
      filter: drop-shadow(2px 2px 1px #1e1f1e);
     
  
  }
  
  
  
  