@import '../../../app/globalStyles/basestyles.scss';

.modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    background: rgba(32, 46, 56, 0.3);
    z-index: 1000;
    @include for-size(desktop){
        backdrop-filter: blur(0);
        background: transparent;
        align-items:self-start;
    }
  }
  
  .modal_content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-text-color;
    padding: 40px 20px;
    border-radius: 2rem;
    max-width: 90%;
    @include for-size(tablet){
        padding: 40px;
        max-width: 100%;
    }

    @include for-size(desktop){
        border-radius: 32px 32px 32px 4px;
        bottom: -6rem;
        right: 4rem;
    }
}
  
  
  
  