@import '../../../app/globalStyles/basestyles.scss';


.btn_list{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;  
    padding-top: 1.5rem;
    gap: 2px;

}




.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 0.75rem;


    color: $secondary-text-color;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
   cursor: pointer;
   transition: all $cubic;

   &.active{
    border: 1px solid $secondary-text-color;
   };

  

};

.navigation_item{
 
 margin-right: auto;

    &.next{
        margin-right: 0;
     margin-left: auto;
    }
}

.navigation_btn{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 12px;

border: 1px solid $accent-text-color;
border-radius: 2.5rem;
padding: 8px;


font-weight: 600;
font-size: 1rem;
line-height: 1.5;
color: $accent-text-color;
cursor: pointer;
&::first-letter{
    text-transform: capitalize;
}

&>span{
    display: none;
}


@include for_size(tablet){
    padding: 8px 20px;
    &>span{
        display: inline;
    }
   }
};

.indicator_icon{
    width: 1.5rem;
    height: 1.5rem;
    fill:$accent-text-color;
    transform: rotate(90deg);
   
    &.next{
        transform: rotate(-90deg);
    }
}