@import '../../../app/globalStyles/basestyles.scss';

.filter_menu_container{
    display: block;
    @include for-size(desktop){
        display: none;
    }
};
.open_filter_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 12px;
    width: 48px;
    height: 48px;
    
    border: 1px solid $accent-text-color;
    border-radius: 50px;
    
    background-color: $accent-text-color;
    cursor: pointer;
};

.filter_icon{
    width: 1.5rem;
    height: 1.5rem;
    fill: $primary-text-color;
};


.filter_content{
    border-radius: 0.5rem;
    background-color: $primary-text-color;
    padding: 0 0.5rem;
    width: 80vw;
    height: 45vh;
    max-height: 50vh;
    overflow: auto;
};

.title{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    color: $primary-bg-color;
    margin-bottom: 2rem;
}