@import '../../../app/globalStyles/basestyles.scss';
.catalogue_container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card_list{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-content: flex-start;
@include for-size(tablet){

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
 
}

@include for-size(desktop){
  grid-template-columns: repeat(3, 1fr);
}

}