@import '../../../app/globalStyles/basestyles.scss';

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    @include for-size(desktop){
        align-items: stretch;
        text-align: left;
        justify-content: start;
    }

};



.title{
    font-weight: 600;
    font-size: 18px;
};

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    @include for-size(tablet){
    flex-direction: row;
    border: 1px solid $accent-text-color;
    border-radius: 3rem;
    padding: 0 0 0 0;
    background: rgba(43, 150, 234, 0.1);

    &.not_valid{
        border: 1px solid red;
    }
    &.valid{
        border: 1px solid rgb(41, 231, 41);
    }
    }
};

.email_input{
    display: block;
    outline: none;
    width: 100%;
    border: 1px solid $accent-text-color;
    border-radius: 3rem;
    background: rgba(43, 150, 234, 0.1);
    padding-left: 1rem;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: $primary-text-color;
    padding: 12px;

    &.not_valid{
    border: 1px solid red;
    }

    &.valid{
    border: 1px solid rgb(41, 231, 41);
    }

&:-webkit-autofill,
&:-webkit-autofill:hover, 
&:-webkit-autofill:focus {
  -webkit-text-fill-color: $primary-text-color !important;
  -webkit-box-shadow: 0 0 0px 40rem #1f2224dd inset !important;
 
  
}

 @include for-size(tablet){
border: none;
border-radius: 0;
background: transparent;
&.not_valid{
    border: none;
}

&.valid{
    border: none;
}
}
};


.form_container{
display: flex;
justify-content: center;
flex-direction: column;
align-items: normal;
gap: 16px;

@include for-size(tablet){
    align-items: center;
}
@include for-size(desktop){
    align-items: normal;
}
};



.label{
    display: flex;
    font-weight: 400;
    font-size: 12px;
 
};

.base{
    display: flex;
    gap:12px;
    @include for-size(desktop){
        justify-content: flex-end;
    }
};

.icon{
width: 18px;
height: 18px;
border: 1px solid $accent-text-color;
border-radius: 4px;
padding: 2px;
}
