@import '../../../app/globalStyles/basestyles.scss';

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    @include for-size(desktop){
        align-items: stretch;
        text-align: left;
        justify-content: start;
    }

};



.title{
    font-weight: 600;
    font-size: 18px;
};

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    @include for-size(tablet){
    flex-direction: row;
    border: 1px solid $accent-text-color;
    border-radius: 48px;
    padding: 0 0 0 0;
    background: rgba(43, 150, 234, 0.1);

    &.not_valid{
        border: 1px solid red;
    }
    }
};

.email_input{
    display: block;
    background-color: transparent;
    outline: none;
    width: 100%;
    border: none;
    padding-left: 16px;

    font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: $primary-text-color;
padding: 12px;

 @include for-size(tablet-only){
border: 1px solid $accent-text-color;
border-radius: 48px;
background: rgba(43, 150, 234, 0.1);
&.not_valid{
    border: 1px solid red;
}

 }



};


.form_container{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 16px;
@include for-size(desktop){
    align-items: normal;
}
};



.label{
    display: flex;
    font-weight: 400;
    font-size: 12px;
 
};

.base{
    display: flex;
    gap:12px;
    @include for-size(desktop){
        justify-content: flex-end;
    }
};

.icon{
width: 18px;
height: 18px;
border: 1px solid $accent-text-color;
border-radius: 4px;
padding: 2px;
}
