@import '../../../../app/globalStyles/basestyles.scss';

.container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
 
  }
  
  .item{
    display: flex;
  cursor: pointer;  

  }

  
  
  .dropdown{
      position: absolute;
      bottom: -100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.8rem;
      border-radius: 1rem;
      background-color: $bglightblue;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      transition: all $cubic;

      &.open{
        bottom: -240%;
        opacity: 1;
        visibility: visible;

        @include for-size(tablet){
          bottom: -220%;
          }
      }
  }
  

.loc_title{
  display: flex;
align-items: center;
justify-content: center;
  border: 1px solid $accent-text-color;
  border-radius: 50%;
  width: 32px;
  height: 32px;

font-weight: 700;
font-size: 14px;
line-height: 1;
text-align: center;
color: $accent-text-color;
cursor: pointer;

transition:  background-color $cubic;

&:hover,
&:focus{
  background-color: $primary-text-color;
}


@include for-size(tablet){
width: 40px;
height: 40px;
font-size: 16px;
}
}

