@import '../../../app/globalStyles/basestyles.scss';


.thumb{
    display: block;
    width: 100%;
    padding: 0 0;

    @include for-size(tablet){
        padding: 0 0 4rem 0;
    }
    @include for-size(desktop){
        padding: 0 0;
    }
};


.gallery{


    & >div >div > button{
        position: absolute;
        left: unset;
        bottom: -4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 3rem;
        height: 3rem;
        border: 1px solid $accent-text-color;
        border-radius: 50%;
        top: unset;
        transform: unset;
        background-color: $bglightblue;



        &:hover{
            scale: 1.03;
            & >svg{
                stroke: $primary-text-color;
            }
        }

        &[aria-label='Previous Slide']{
            left:-1rem;
            
        };

        &[aria-label='Next Slide']{
            right: -1rem;
            
        }


        & >svg{
            height: unset !important;
            width: 24px !important;
            stroke: $primary-text-color;
        }};}


.thumbnail{
 
    border-radius: 1rem !important;
    overflow: hidden;
    cursor: pointer;
    @include for-size(tablet){
   
    width: 5rem !important;
    margin: 0 0 16px 0 !important;}

 
   
};

.original{

    border-radius: 1.25rem;
    height: 100%;
   
    overflow: hidden;
    & img{
        object-fit: cover !important;
        height: 100%;
    }
}