@import '../../../../app/globalStyles/basestyles.scss';

.container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
 
  }
  

  .dropdown{
 
      position: absolute;
      top: 100%;
      width: 20rem;
      border-radius: 1rem;
      background-color: $bglightblue;
      padding: 1rem 2rem;;
     
      z-index: -1;
      max-height: 0;
      visibility: hidden;
      overflow: hidden;
      transition: visibility $cubic,top $cubic,max-height $cubic;

      &.open{
        visibility: visible;
        top:calc(100% + 2rem);
        z-index: 100;
        max-height: max-content;
       

        @include for-size(tablet){
         
          padding: 2rem 2rem 1rem 2rem;
          }
          @include for-size(desktop){
           
            padding: 0.8rem 5rem 0.8rem 2rem;
            
            }
      }
  };
  

.title{
display: flex;
align-items: center;
justify-content: center;

font-size: 1.25rem;
font-weight: 600;
line-height: 1;
text-align: center;
color: $primary-text-color;
cursor: pointer;
transition: color $cubic;
&:hover{
  color: $secondary-text-color
}

&.active{
  font-weight: 600;
  
  &::after {
      position: absolute;
      bottom: -5px;
      display: block;
  
      content: "";
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: $secondary-text-color;
    }};

    @include for-size(desktop){
      font-weight: 500;
      font-size: 1rem;
    }

}

