@import '../../../../../app/globalStyles/basestyles.scss';


.btn_container{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    padding-right: 24px;
    justify-content: flex-end;
    gap: 15px;

    @include for-size(tablet){
        padding-right: 36px;
    }
    @include for-size(desktop){
        padding-right: 88px;
    }
}
.button{
    display: block;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid $accent-text-color;
    background: $accent-text-color;

    transition: all $cubic;

    &.disable{

        background-color: transparent;
        & .arrow{
            fill: $accent-text-color;
        }
      
    }

};

.arrow{
display: block;
width: 24px;
height: 24px;
fill: $primary-text-color;
transition: fill $cubic;
&.right{
    transform: rotate(180deg);
}
};



.dot{
display: block;
width: 8px;
height: 8px;
padding: 4px;

background-color: rgba(255, 255, 255, 0.1);;
border: none;
border-radius: 100%;
cursor: pointer;

transition: all $cubic;

    &.active{

        background-color: $accent-text-color;

    }
}