@import '../../../app/globalStyles/basestyles.scss';


.list{
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
gap: 2rem;
padding: 12px;

@include for-size(tablet){
    display: flex;
   justify-content: space-evenly;
   width: 100%;
}

@include for-size(desktop){
    justify-content: space-between;
    padding: 0;
};
};

.link{
display: flex;
align-items: center;
flex-direction: column;
gap: 0.5rem;

font-weight: 700;
font-size: 1rem;
line-height: 1.4;
text-align: center;
color: $primary-text-color;
};

.icon{
    width: 3rem;
    height: 3rem;
    transition: scale $cubic;
    &:hover{
        scale: 1.15;
    }
};

