@import '../../../app/globalStyles/basestyles.scss';

.section{
    padding: 60px 0;
        @include for-size(tablet){
            padding: 75px 0;
        }
    };


.list{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include for-size(tablet){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;}

    @include for-size(desktop){
        display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    }
    }