@import '../../../app/globalStyles/basestyles.scss';

.conatiner{
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0;
    gap: 60px;
    @include for-size(tablet){
        padding: 7rem 0;
        gap: 80px;
    }
};

.wrapper{
    display: flex;
   flex-direction: column;
    gap: 2rem;
    background-color: $primary-text-color;
    border-radius: 20px;
    padding: 20px;
    margin-top: 60px;
    color: $dark;


    @include for-size(tablet){
        margin-top: 75px;
        padding: 40px;
        gap: 4rem;
    }
    @include for-size(desktop){
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
};

.form_wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;


}

.title{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
};

.block_wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
};

.block_title{
 font-weight: 700;
font-size: 18px;
line-height: 1.4;
};

.input_wrapper{
display: flex;
flex-direction: column;
gap: 0.5rem;

@include for-size(tablet){
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.4rem;
}
}

.label{
display: flex;
flex-direction: column;
gap: 0.5rem;
font-weight: 400;
font-size: 16px;
line-height: 1.5;

&:nth-child(3){
    grid-area: 2/1/2/3;
}

&.radio_label{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}
};

.input{
    outline: none;
    padding:12px;
    border: 1px solid $accent-text-color;
    border-radius: 2rem;
};



.msg_area{
    display: block;
    width: 100%;
    height: 15rem;
    outline: none;
    border: 1px solid $accent-text-color;
    border-radius: 1rem;
    padding: 12px;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    resize: vertical;
}

