@import '../../../app/globalStyles/basestyles.scss';


.section{
    position: relative;
    padding: 60px 0;

    @include for-size(tablet){
        padding: 75px 0;
    }


    &::before{
        content: '';
        display: block;
        position: absolute;
        width: 40%;
        height: 40%;
        left: 0;
        top: 0;

        border-radius: 100%;
background: radial-gradient(50% 50% at 50% 50%, rgb(48, 70, 177) 0%, rgb(48, 70, 177) 100%);
filter: blur(244px);
z-index: -10;
    };

    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 25%;
        height: 40%;
        right: 0;
        top: 5%;
        border-radius: 100%;
        background: radial-gradient(50% 50% at 50% 50%, rgb(254, 219, 81) 20%, rgb(31, 34, 36) 100%);
        filter: blur(180px);
        z-index: -10;

    }

}
;

.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    @include for-size(tablet){
        gap: 3.75rem
    }

    @include for-size(desktop){
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 80px;
    }


};

.container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    text-align: center;

    @include for-size(desktop){
        align-items: flex-start;
        text-align: unset
    }
};

.title{
font-weight: 700;
font-size: 2rem;
line-height: 1.2;

@include for-size(tablet){
    font-size: 3rem
}

};

.description{
font-weight: 400;
font-size: 1rem;
line-height: 1.5;

@include for-size(tablet){
    font-size: 1.25rem
}

};


.icon{
    width: 24px;
    height: 24px;
    fill: $primary-text-color;
};


.thumb{
    width: 100%;
    max-width: 456px;
    overflow: hidden;
    object-fit: cover;
    margin: auto;
};

.image{
    display: block;
    width: 100%;
    height: auto;
}