@import '../../../app/globalStyles/basestyles.scss';

.hero_section{
    position: relative;

};

.decor{
    position: absolute;
    width:50%;
    height: 50%;
    right: 25%;
    bottom: 10%;
    border-radius: 100%;
background: radial-gradient(50% 50% at 50% 50%, rgb(197, 111, 180) 0%, rgb(31, 34, 36) 100%);
filter: blur(168.84751892089844px);
z-index: -10;

&::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    right: -30%;
    top: -100%;
    border-radius: 100%;
    background: radial-gradient(50% 50%, #fedb51 0%, #1f2224 100%);
};

&::after{
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    right: -50%;
    bottom: -10%;
    border-radius: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgb(43 150 234) 50%, rgb(31, 34, 36) 100%);
}
};



.hero_container{
 
    padding: 2.5rem 0 0 0;
   


@include for-size(tablet){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 5rem;
    align-items: center;
    justify-content: center;

    padding: 8rem 0;
   
}
@include for-size(desktop){
  
    grid-row-gap: 2.5rem;
    padding: 0;
}
   
}

.head_container{
   
display: flex;
align-items: flex-start;
justify-content: center;

flex-direction: column;
gap: 2rem;
 @include for-size(tablet) {
    grid-area: 1 / 1 / 1 / 3;
    max-width: 90%;
 };
 @include for-size(desktop) {
    grid-area: 1 / 1 / 1 / 1;
 }

}

.title{
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.1;
    margin-bottom: 2rem;

    @include for-size(tablet){
        font-size: 2.5rem;
    }
};

.description{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 80%;

    &>strong{
        font-weight: 800;
    }
};


.image_container{
   
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.75rem;

    @include for-size(tablet) {
        margin-bottom: 0;
        grid-area: 2 / 2 / 2 / 2;
    }

    @include for-size(desktop){
        grid-area: 1 / 2 / 1 / 2;
    }
}

.thumb{
    display: block;
    overflow: hidden;
    object-fit: contain;
    z-index: 10;
    &.yellow{
        position: relative;
        width: 258px;
        left:11%;
        
        
    }
}

.image{
    display: block;
    height: 100%;
  width: 100%;
}