@import '../../../app/globalStyles/basestyles.scss';


.container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }

  .dropdown{
      position: absolute;
      top: 0;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      z-index: 100;
      opacity: 0;
      gap: 10px;
      background-color: $primary-text-color;
      border: 1px solid $accent-text-color;
      border-radius: 16px 4px 16px 16px;
      padding: 20px;
      color: $dark;
      visibility: hidden;
      transition: all $cubic;



      &.open{
        top: 140%;
        opacity: 1;
        visibility: visible;
        @include for-size(tablet){
          top: 120%;
          }
      }
  }
  

  .button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
   justify-content: space-between;
    width: 18.5rem;
    color: $primary-text-color;
    background-color: $accent-text-color;
    border: 1px solid $accent-text-color;
    border-radius: 48px;
    padding: 12px;
    gap:12px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    & > span{ &::first-letter{
      text-transform: capitalize;
    }}
   
   
    };


.indicator_icon{
  fill: $primary-text-color;
  width: 24px;
  height: 24px;
  transform: rotate(90deg);
  transition: all $cubic;

  &.open{
      transform: rotate(0deg);
  }
}

.item{
display: block;
  background-color: transparent;
  border: none;
  color: $bglightblue;
  cursor: pointer;  
  &::first-letter{
    text-transform: capitalize;
  }

}

