@import '../../../app/globalStyles/basestyles.scss';

.card{
   display: flex;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid transparent;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1), 0 2px 8px 0 rgba(255, 255, 255, 0.172);
   height: 100%;

    transition: border $cubic;
&:hover,
&:focus{
    border: 1px solid $primary-text-color;
};
}


.link{
    display: grid;
    width: 100%;
    grid-template-rows: 250px 1fr;
    color: $bglightblue;
    background-color: $primary-text-color;
    
}

.thumb{
   display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: $dark;

    &>img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: top;
       
    }

}

.info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 1rem;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2);
   
  

    &>h3{
        font-size: 1.5rem;
        font-weight: 600;
       
    }

    &>p{
        font-size: 0.8rem;
    }

}


