@import '../../../app/globalStyles/basestyles.scss';


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 2rem;
    gap: 24px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: $primary-text-color;

    @include for-size(tablet){
       flex-direction: row;
    }

};


.link{
    color: $primary-text-color;
    text-decoration: underline;
}