@import '../../../app/globalStyles/basestyles.scss';


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
    gap: 24px;

    font-weight: 400;
font-size: 14px;
line-height: 1.5;
color: $primary-text-color;

border-top: 1px solid $accent-text-color;
};


.link{
    color: $primary-text-color;
    text-decoration: underline;
}